@charset "UTF-8";

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

li {
  list-style: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #F2F2F2;
  color: #000000;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Site Buttons */
.button,
.button:visited {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  padding: 9px 0 8px 0;
  color: #FFFFFF;
}

.navigation-button {
  background-color: #756157;
  width: 160px;
}
.hotel-card-button-details {
  background-color: #756157;
}
.hotel-card-button-to-favorites {
  background-color: #82B3D3;
}
.hotel-card-button-in-favorites {
  background-color: #7DB54F;
}
.apply-filters-button {
  background-color: #82B3D3;
  border: none;
  height: 48px;
  padding: 14px 15px;
}
.clear-filters-button {
  background-color: transparent;
  border: none;
  height: 48px;
  padding: 14px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}
.search-hotels-button {
  border: none;
  height: 60px;
  width: 574px;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

/* Page Header */
.page-header {
  display: flex;
  width: 1200px;
  height: 66px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
}
.page-header-logo {
  width: 239px;
}
/* Main Site Navigation */
.navigation {
  display: flex;
  width: 921px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  width: 390px;
  box-sizing: border-box;
  align-items: flex-start;
  padding: 20px 17px;
  gap: 34px;
  margin: 0;
}

.navigation-list-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  text-decoration: none;
}

.navigation-user {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  width: 264px;
  justify-content: flex-end;
}
.navigation-user-item {
  align-self: center;
}
.navigation-user-link {
  display: block;
  color: #000000;
  width: 42px;
  height: 19px;
  text-align: center;
}
.navigation-button {
  margin-left: 19px;
}

/* Main Page Content Elements */
/*                            */
.intro {
  background-image: url("../images/backgrounds/background-triangle-index.svg"), url("../images/backgrounds/background-index.jpg");
  text-align: center;
  padding-top: 65px;
  background-position-x: 50%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: auto, 1200px 487px;
  box-sizing: border-box;
  min-height: 487px
}

/* Advantages List */
.advantages {
  text-align: center;
}
.advantages-section-header {
  height: 282px;
  box-sizing: border-box;
  padding-top: 63px;
  padding-bottom: 90px;
}
.advantages-section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.advantages-section-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

.advantages-list > .advantages-item {
  counter-increment: advantage_counter;
  flex-basis: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-list > .advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-list > .advantages-item:nth-child(1) {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  background-color: #FFFFFF;
}
.advantages-list > .advantages-item:nth-child(2) {
  flex-basis: 100%;
  display: flex;
}

.advantages-tile {
  width: 400px;
  padding: 90px 0 56px 0;
  box-sizing: border-box;
  background: #82B3D3;
  color: #ffffff;
}
.advantages-tile .advantages-title {
  margin-top: 0px;
  padding-right: 85px;
  padding-left: 85px;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 100px;
}

.advantages-description {
  padding-left: 85px;
  padding-right: 85px;
}
.advantages-description::before {
  content: "— №" counter(advantage_counter) " —";
  display: block;
  padding-bottom: 30px;
}
/* Advantages Features List */
.advantages-features {
  flex-basis: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  counter-reset: advantage_counter;
}
.advantages-features > li {
  position: relative;
  width: 400px;
  height: 384px;
  box-sizing: border-box;
  padding: 80px 85px 81px 85px;
  background-color: #FFFFFF;
}
.advantages-features > li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-feature-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 102px 0 0 0;
  padding: 0;
}
.advantages-feature-title::before {
  position: absolute;
  left: 163px;
  content: '';
  width: 75px;
  height: 76px;
  background-repeat: no-repeat;
}
.advantages-feature:nth-child(1) .advantages-feature-title::before {
  background-image: url("../images/icons/advantages/icon-home.svg");
  top: 80px;
}
.advantages-feature:nth-child(2) .advantages-feature-title::before {
  top: 81px;
  background-image: url("../images/icons/advantages/icon-food.svg");
}
.advantages-feature:nth-child(3) .advantages-feature-title::before {
  top: 78px;
  background-image: url("../images/icons/advantages/icon-souvenirs.svg");
}

.advantages-feature-description {
  color: #333333;
}

/* Hotels Search */
.search-hotels {
  text-align: center;
  height: 417px;
  box-sizing: border-box;
  padding-top: 91px;
}
.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.search-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.subscription,
.subscription-inner {
  background-image: url("../images/backgrounds/background-subscribe.jpg");
  text-align: center;
  color: #FFFFFF;
  box-sizing: border-box;
  height: 411px;
  padding-top: 90px;
}
.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscription-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}
.subscription-inner {
  background-image: none;
}
.subscription-inner .subscription-title {
  color: #000000;
}
.subscription-inner .subscription-description {
  color: #333333;
}

/* Page Footer */
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 70px;
  align-items: center;
  gap: 40px;
}
.footer-social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 142px;
  height: 40px;
}
.footer-social-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  gap: 10px;
  width: 47px;
  height: 40px;
}

.footer-contacts {
  width: 331px;
}
.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.button-socials {
  color: #83B3D3;
}
.button-socials:hover {
  color: #68A2CA;
}
.button-socials:active {
  color: rgba(104, 162, 202, 0.3);
}

.htmlacademy-link {
  color: #000000;
}
.htmlacademy-link:hover {
  color: #756157;
}
.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/* Hotels Page */

.inner-header {
  background-image: url("../images/backgrounds/background-catalog.jpg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #FFFFFF;
  height: 403px;
}
.inner-header-title {
  color: inherit;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

fieldset.hotels-filter-group {
  display: inline;
  border: 0 none;
  padding: 0;
  margin: 0;
}
.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card {
  margin-bottom: 30px;
}
.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-card-type,
.hotel-card-price {
  color: #333333;
}
.hotel-card-ratings-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
}
.hotel-card-ratings-stars {
  margin: 0 0 10px 0;
}
.hotel-card-ratings-stars span {
  background-image: url("../images/icons/icon-star.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: inline-block;
  width: 18px;
  height: 17px;
}

.pagination-item {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  display: inline;
}
.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.pagination-link.pagination-current {
  color: #000000;
}
.pagination-settings {
  color: #333333;
}

/* Hotels Sorting Buttons */
.button-view {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 14px 12px;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.button-view:hover,
.button-view:active{
  border: 2px solid #000000;
}
.button-view:focus {
  border: 2px solid #68A2CA;
}
/*************************/






